/.DS_Store
/.ipynb_checkpoints/
/.venv/
/__pycache__/
/archive/
/src/__pycache__/
/scripts/ia_diffusion_evolution.mp4
/scripts/graph_metric_experiment.mp4
/scripts/diff_metric_experiment.mp4
/img/
/notebooks/.DS_Store
/notebooks/.ipynb_checkpoints/IA_voters-checkpoint.ipynb
/notebooks/ia-graph-metric-comparison.mp4
/notebooks/ia-graph-metric.mp4
/notebooks/w2-shortest-path-geodesic-81-46.mp4
